---
interface Props {
  id?: string;
  title: string;
}
const { id, title } = Astro.props;
---

<div data-reveal class="section-heading">
  <h2 {id}>{title}</h2>
  <div class="section-heading-rule"></div>
</div>
